<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="torso" params="simulation fixed_base">
 
    <link name="world" /> 

      <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="base"/>
        <origin xyz="0 0 0"/>
      </joint> 

    <!-- World frame -->
        <link name="base">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.001 0.001 0.001"/>
                </geometry>
            </visual>
        </link>

        <joint name="floating_base" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="base"/>
            <child link="torso"/>
        </joint>

        <link name="torso">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="file://$(find go2_description)/dae/base.dae"/> 
                </geometry>
                <!-- <material name="orange"/> -->
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
                </geometry>
            </collision>
            <inertial>
                <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
                <mass value="${trunk_mass}"/>
                <inertia
                    ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                    iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                    izz="${trunk_izz}"/>  
            </inertial>
    </link>
    <!-- ====================== HEAD UPPER ====================== -->
    <link name="Head_upper">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="9.6e-06" ixy="0" ixz="0"
                 iyy="9.6e-06" iyz="0" izz="9.6e-06"/>
      </inertial>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.05" length="0.09"/>
        </geometry>
      </collision>
    </link>

    <joint name="Head_upper_joint" type="fixed" dont_collapse="true">
      <parent link="torso"/>
      <child link="Head_upper"/>
      <origin xyz="0.285 0 0.01" rpy="0 0 0"/>
    </joint>

    <!-- ====================== HEAD LOWER ====================== -->
    <link name="Head_lower">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="9.6e-06" ixy="0" ixz="0"
                 iyy="9.6e-06" iyz="0" izz="9.6e-06"/>
      </inertial>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.047"/>
        </geometry>
      </collision>
    </link>

    <joint name="Head_lower_joint" type="fixed" dont_collapse="true">
      <parent link="Head_upper"/>
      <child link="Head_lower"/>
      <origin xyz="0.008 0 -0.07" rpy="0 0 0"/>
    </joint>

  </xacro:macro> 

</robot>
